.big-glyphicon
  font-size: 30px
  transition: 1s

  &.glyphicon-remove-circle
    color: #6E0C02
    float: right
    &:hover
      color: #FA1B05

  &.glyphicon-plus
    font-size: 25px
    position: relative
    top: 6px
    padding-right: 3px
    padding-left: 6px
    &:hover
      color: #8AB6DC

.row
  form
    .btn-default
      text-shadow: 0 0px 0 transparent
      float: right
      margin-bottom: 10px
