$font-stack: OfficinaSerifBookSCC, sans-serif
$firm-color: #335aa5
html, body
  height: 100%
  margin: 0
  padding: 0

body
  font-size: 1.5em
  font-family: Verdana, Tahoma, sans-serif
  overflow: hidden

  nav
    height: 50px
    background-color: $firm-color
    display: flex
    align-items: center
    justify-content: space-between

    .image-container
      height: 100%

    .navbar-right
      float: right

    .brand-image
      height: 75%
      margin-bottom: 5px
      margin-top: 5px
      margin-left: 1em

    .date-week-time
      font-family: $font-stack
      font-size: 1em
      text-transform: uppercase
      font-weight: 100
      margin-top: 0.5em
      color: white
      margin-right: 1em


  h1
    font-family: $font-stack

  #hidden
    display: none

  .em
    height: 1em
    display: none

  #photo-container,
  #video-container
    display: none
    text-align: center

    .photo,
    .player
      margin-top: 1em
      margin-bottom: 1em

  .title
    padding-bottom: 3em
    width: 60%
    font-family: $font-stack
    font-size: 0.8em
    visibility: hidden
