<div class='row page-title'>
  <div class='col-xs-12'>
    <h1>Список доступных расписаний вещания</h1>
  </div>
</div>
<div class='row panels'>
  <% @panels.each do |p| %>
    <div class='col-sm-4 col-xs-12'>
      <%= link_to p.title, panel_path(p.id) %>
    </div>
  <% end %>
</div>
