<div class='row'>
  <div class='col-xs-8'>
    <%= simple_form_for [:manage, @text] do |f|  %>
      <%= f.input :title %>
      <%= f.input :text, input_html: {:class => :ckeditor} %>
      <%= f.button :submit  %>
    <% end %>
  </div>
</div>
