<div id='video-container'>
  <% video = VideoInfo.new(@slide.entry.video) %>
  <div id="player" class='player' data-value="<%= video.video_id %>"></div>    
</div>
<p class='title'>
  <%= @slide.entry.title %>
</p>