<div id='video-container'>
  <% video = VideoInfo.new(@slide.entry.video) %>
  <div id="player" class='player' data-value="<%= video.video_id %>"></div>
</div>
<div class='title'>
  <p>
    <%= @slide.entry.title %>
  </p>
</div>
