<div class='flexbox-container' id='cutaway' data-id='<%= @slide.id %>'>
  <div class='centered-item'>
    <%= image_tag resized_image_url(@slide.entry.file.url, 1920, 1080, { :cropify => 'c', :gravity => 'n'}), class: 'photo'%>
  </div>
</div>

