<div class='september'>
  <div class='warning'>
    <div class='triangle-left-top'></div>
    <div class='triangle-right-top'></div>
    <div class='triangle-right-bottom'></div>
    <h1 class='white'>
      1 сентября
    </h1>
    <p class='white'>
    1 сентября состоится знакомство первокурсников с деканом и преподавателями факультета, вручение студенческих билетов и зачетных книжек и встреча с кураторами групп
    </p>
  </div>
  <div class='infos-wrapper'>
    <div class='info-row'>
      <div class='image-dummy'></div>
      <div class='text-content'>
        <h1>Радиотехнический факультет</h1>
        <p>
        1 сентября 10:00
        <br>
        пр. Ленина, 40
        <br>
        428 аудитория главного корпуса
        </p>
      </div>
    </div>
  </div>
</div>
